@import 'variables';

#banner{
	width: 100%;
	background-image: url('/assets/banner.jpg');
	background-size: contain;
	position: relative;
	padding-top: 5rem;
	h1{
		color: #fff;
		font-family: $orbitron;
	}
	#home-nav{
		list-style-type: none;
		margin-top: 5rem;
		.banner-link{
			color: #fff;
			display: inline-block;
			margin-right: 1.5rem;
			&:last-child{margin-right: 0;}
			a{
				color: #fff;
				font-family: $orbitron;
				text-decoration: none;
			}
		}
	} 
}
.episode-container{
	position: absolute;
	top: 100%;
	height: 100%;
	width: 100%;
	font-family: $oxygen;
	.home-episode{
		padding: 5% 10%;
		color: $dark_gray;
		p{
			font-size: 1.25rem;
		    line-height: 2.25rem;
		}
	}
}
#home-content{
	padding-top: 5rem;
	p{
		font-size: 1.25rem;
	  line-height: 2.25rem;
	}
}

@media only screen and (max-width: 64em){
	#banner,
	#home-content{
		padding-top: 2rem;
	}
}