@import 'variables';

#menu{
  position: fixed;
  padding: 10px 0 5% 0;
  left: 0;
  width: 100%;
  z-index: 1;
  background: $offwhite;
  padding: 5px 0 10px !important;
  background: $dark_gray;
  a{color: $offwhite !important;}
  .home-link{
  	float: left;
  	margin-left: 2rem;
  }
	.nav{
		text-align: center;
		.menu-item{
			display: inline-block;
			margin: 0 3%;
			font-size: 0.8rem;
			a{color: $dark_gray;}
		}
	}
	#mnav-link{
		padding-right: 1rem;
		margin-top: .5rem;
	}
	#mnav{
		right: 0;
		top: 2rem;
	}
}
.page-header, .page-heading{
	margin-top: 120px;
  position: relative;
}

#mnav-link{
	float: right;
	text-transform: uppercase;
	font-family: 'Orbitron', sans-serif;
	color: $white;
	font-size: .875rem;
}
#mnav{
	display: none;
	position: absolute;
	list-style-type: none;
	right: 1rem;
	top: 1rem;
	background: $dark_gray;
	z-index: 100;
	margin: 0;
	padding: 0;
	li{
		padding: 0.5rem 1rem;
		border-bottom: 1px solid $offwhite;
		a{
			color: $offwhite;
			text-decoration: none;
			font-family: 'Orbitron', sans-serif;
			text-transform: uppercase;
			text-align: right;
		}
	}
}