@import 'variables';

body.page{
	color: $dark_gray;
	h1{color: $dark_gray;}
	a{color: $gray;}
	a:visited{color: $light_gray;}
}
.menu{
	.menu-item{
		display:block;
	}
}
#page-content{
	padding:5% 10% !important;
}