<div id="menu">
	<div class="show-for-large-up">
		<span class="home-link"><a href="/">Home</a></span>
		<span class="home-link"><a href="/terminology">Terminology</a></span>
		<span class="home-link"><a href="/characters">Characters</a></span>
		<div class="nav">
			<span class="menu-item"><a href="/#current">Current Episode</a></span>
			<span class="menu-item"><%= link_to("Past Episodes", episodes_path) %></span>
		</div>
	</div>
	<div class="hide-for-large-up">
		<a id="mnav-link" href="#">Menu</a>
		<ul id="mnav">
			<li class="banner-link"><%= link_to("Current Episode", Episode.where(:is_published => 1).last) %></li>
			<li class="banner-link"><%= link_to("Start at the Beginning", Episode.first) %></li>
			<li class="banner-link"><%= link_to("Past Episodes", episodes_path) %></li>
			<li class="banner-link"><a href="/terminology">Terminology</a></li>
			<li class="banner-link"><a href="/characters">Characters</a></li>
		</ul>
	</div>
</div>